target/classes/mule-cicd-poc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="157eef76-101b-485a-8747-1438aabbd9ad" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="713cbbaf-f39f-4dca-9839-0d4659f51b2c" >
		<http:request-connection host="reqres.in" />
	</http:request-config>
	<flow name="mule-cicd-pocFlow" doc:id="1bad0a7c-0bfb-4238-9eef-35917253f668" >
		<http:listener doc:name="Listener" doc:id="974744e7-e905-4ddf-80ae-a23dbae2df6b" config-ref="HTTP_Listener_config" path="/cicd"/>
		<logger level="INFO" doc:name="Logger" doc:id="3ffd5632-1fe1-479e-b71a-6ced8be63028" message="Hello World."/>
		<http:request method="POST" doc:name="Request" doc:id="1fbe0f99-63a5-4f04-b7fd-9ab56cb78a9c" config-ref="HTTP_Request_configuration" path="/api/register"/>
		<ee:transform doc:name="Transform Message" doc:id="9021b801-037a-44c8-b67e-5fd398fb0526" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="abc" ><![CDATA[%dw 2.0
output application/java
---
payload.id + 5]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
	</flow>
</mule>
